APP_DEBUG=true

[APP]
DEFAULT_TIMEZONE=Asia/Shanghai

[CODE]
SUCCESS_CODE=0
ERROR_CODE=-1

[MYSQL]
TYPE=mysql
HOSTNAME=
DATABASE=
USERNAME=
PASSWORD=
HOSTPORT=3306
CHARSET=utf8
DEBUG=true
PREFIX=sys_

[REDIS]
REDIS_TYPE=redis
REDIS_HOSTNAME=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_EXPIRE=0
REDIS_PREFIX=tp:
REDIS_SELECT=0

[LANG]
DEFAULT_LANG=zh-cn